wsdl/EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.estoque.jmsstudio.com.br/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.estoque.jmsstudio.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.estoque.jmsstudio.com.br/" schemaLocation="EstoqueWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createItem">
    <part name="parameters" element="tns:createItem"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="createItemResponse">
    <part name="result" element="tns:createItemResponse"/>
  </message>
  <message name="AuthorizationException">
    <part name="fault" element="tns:AuthorizationFault"/>
  </message>
  <message name="listItens">
    <part name="parameters" element="tns:listaItens"/>
  </message>
  <message name="listItensResponse">
    <part name="parameters" element="tns:itens"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="createItem" parameterOrder="parameters token">
      <input wsam:Action="http://ws.estoque.jmsstudio.com.br/EstoqueWS/createItemRequest" message="tns:createItem"/>
      <output wsam:Action="http://ws.estoque.jmsstudio.com.br/EstoqueWS/createItemResponse" message="tns:createItemResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.estoque.jmsstudio.com.br/EstoqueWS/createItem/Fault/AuthorizationException"/>
    </operation>
    <operation name="listItens">
      <input wsam:Action="http://ws.estoque.jmsstudio.com.br/EstoqueWS/listItensRequest" message="tns:listItens"/>
      <output wsam:Action="http://ws.estoque.jmsstudio.com.br/EstoqueWS/listItensResponse" message="tns:listItensResponse"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:createItem" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="listItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

